@import "~bootstrap/scss/bootstrap";

.row {
    > * {
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;

        color: lightcoral;
        background-color: aquamarine;
        background-image: url('../img/laravel.png');
        background-size: 50px 50px;
    }
}

img {
    max-height: 150px;
}
